.location-selector > ul {
    padding: 0;
}

.location-selector {
    font-size: 1.2em;
    font-weight: bold;
    max-width: 30rem;
    margin: auto;
}

.location-selector > ul > li {
    margin: 0.5em 0;
    /*border-radius: 8px;*/
    /*border: 1px solid #a6a6a6;*/
    /*padding: 0.3em 0.6em;*/
    display: flex;
    list-style: none;
    /*background: #1a1a1a;*/
    /*cursor: pointer;*/
    transition: all 150ms ease-in-out;
    /*-webkit-tap-highlight-color: transparent;*/
}

.location-selector > ul > li.selected:hover {
    border-color: #a6a6a6;
}

.location-selector > ul > li > button {
    flex: 1;
}

.location-selector > ul > li > button + button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.location-selector > ul > li > button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.location-selector > ul > li.selected > button {
    background: var(--primary-color);
    color: #1a1a1a;
}

.location-selector button.action {
    flex: 0 0 2rem;
}

@media (prefers-color-scheme: light) {
    .location-selector > ul > li {
        background: #f9f9f9;
    }
}