#main-navbar, #main-footer {
    /*background: #1a1a1a;*/
    color: #666666;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
}

#main-navbar {
    background-color: #1a1a1a;
    gap: 1rem;
    justify-content: flex-start;
    height: 4rem;
}

#main-navbar a, #main-footer a {
    color: #a6a6a6;
}

#main-navbar > * {
    flex: 0 1 auto;
    width: 8rem;
    border-right: 1px solid #242424;
}

#main-footer > * {
    flex: 0 1 auto;
    border: none;
    padding: 0 1rem;
}

#main-footer > *:first-child {
    margin-right: auto;
}

#main-footer {
    justify-content: flex-start;
    height: 2rem;
    font-size: smaller;
    padding-bottom: 0.5rem;
}

@media (prefers-color-scheme: light) {
    #main-footer {
        color: #a6a6a6;
    }
}