.evaluation-controls {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.evaluation-controls > * {
    flex: 1;
}

.evaluation-controls > button {
    flex: 0 0 auto;
    width: 3rem;
}

.evaluation-controls > .setting {
    flex: 0 0 auto;
    width: 3rem;
    margin: auto 0;
}

.evaluation-controls > label {
    flex: 1;
    margin: auto 0;
    text-align: right;
}