html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    /*display: flex;*/
    /*place-items: center;*/
    min-width: 320px;
    /*min-height: 100vh;*/
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    /*padding: 2rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    /*justify-items: flex-start;*/
    justify-content: space-between;
    height: 100%;
    /*min-height: 100%;*/
}

button {
    border-radius: 8px;
    border: 1px solid #a6a6a6;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
}

button, input {
    transition: border-color 0.25s, box-shadow 0.25s;
    -webkit-tap-highlight-color: transparent;
}

input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button:hover, input:hover {
    border-color: var(--primary-color);
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    outline: none;
}

button:disabled {
    border: 1px solid #a6a6a6;
    cursor: not-allowed;
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-bar > * {
    flex: 0 0 auto;
    width: 9rem;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
